@import "../../variables";

.submit-nickname {
  background: #444;
  border: 1px solid #111;
  border-radius: .25rem;
  box-shadow: 0 0 8px rgba(black, 0.7);
  color: white;
  margin: 0 auto;
  padding: 1rem;
  width: 40vw;
  transform: translateY(4rem);
}

mat-form-field {
  display: block;
}

input, label {
  color: white !important;
}

.submit-nickname-button {
  text-align: center;
  margin: 0 auto;
  width: 33%;
}

button {
  background: $main-color;
  border: 0;
  display: block;
}

.cdk-overlay-pane::-webkit-scrollbar {
  background: white;
  border-radius: .25rem;
  width: 4px;
}

.cdk-overlay-pane::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: .25rem;
  width: 4px;
}


