.submit-nickname {
  border: 1px solid #ccc;
  border-radius: .25rem;
  margin: 0 auto;
  padding: 1rem;
  width: 40vw;
  transform: translateY(4rem);
}

mat-form-field {
  display: block;
}

.submit-nickname-button {
  text-align: center;
  margin: 0 auto;
  width: 33%;
}

button {
  border: 1px solid #ccc;
  display: block;
}

.cdk-overlay-pane::-webkit-scrollbar {
  background: white;
  border-radius: .25rem;
  width: 4px;
}

.cdk-overlay-pane::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: .25rem;
  width: 4px;
}


