.loading {
  align-items: center;
  border: 1px solid #ccc;
  border-radius: .25rem;
  display: flex;
  justify-content: center;
  margin: 2rem auto;
  padding: 1rem;
  width: 80%;
}

.loading img {
  height: 1.5rem;
  margin-right: 1rem;
}

.app-pokemon-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
