<div class="controls">
    <!-- <mat-form-field>
      <mat-select [(value)]="selected" placeholder="Sort by...">
        <mat-option value="dexNo">Dex Number</mat-option>
        <mat-option value="numOfNicknames">Number of Nicknames</mat-option>
        <mat-option value="speciesName">Species</mat-option>
      </mat-select>
    </mat-form-field> -->
    <input (keyup)="search($event)" type="search"  placeholder="Search..." value="">
    <!-- <mat-checkbox>Exclude Nicknameless</mat-checkbox> -->
</div>
