.pokemon {
  display: flex;
  margin: .25rem;
  height: 200px;
  justify-content: space-between;
  overflow: none;
  width: 600px;
}

.nicknames-container {
  height: 200px;
  padding-right: .5rem;
  overflow-y: auto;
}

.pokemon:hover .nicknames-container::-webkit-scrollbar-thumb {
  background: #ccc;
  transition: 130ms all;
}

.nicknames-container::-webkit-scrollbar {
  background: transparent;
  border-radius: .25rem;
  width: 4px;
  transition: 130ms all;
}

.nicknames-container::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: .25rem;
  width: 4px;
  transition: 130ms all;
}

.pokemon-link {
  color: unset;
  font-size: 125%;
  text-decoration: none;
}

.pokemon-main-info {
  align-items: center;
  align-self: center;
  display: flex;
  flex-direction: column;
}

.pokemon-main-info a {
  text-decoration: none;
  padding: .25rem;
  border-radius: .25rem;
  transition: 250ms ease-out;
  outline: 1px solid transparent;
}

.pokemon-main-info .pokemon-link:hover {
  // color: #ee4040;
  background: #eee;
  transition: 250ms ease-in;
}

.pokemon-main-info .pokemon-link:active {
  outline: 1px solid #ee4040;
}

.no-nickname {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  width: 400px;
}

.no-nickname h4 {
  text-align: center;
}

.no-of-nicknames {
  color: rgba(#ee4040, 0.8);
  //color: white;
  border-radius: .25rem;
  padding: .25rem;
  position: absolute;
  bottom: 2px;
  left: 2px;
  font-size: 85%;
  text-align: center;
}

.submit-button {
  display: block;
  margin: .5rem;
}


.single-page {
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: auto;
  margin: 0 auto;
  width: 80%;
}

.single-page .nicknames-container {
  height: auto;
}

.single-page .nicknames-container-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
