.pokemon {
  display: flex;
  margin: .25rem;
  height: 200px;
  justify-content: space-between;
  overflow-y: scroll;
  width: 600px;
}

.pokemon::-webkit-scrollbar {
  background: white;
  border-radius: .25rem;
  width: 4px;
}

.pokemon::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: .25rem;
  width: 4px;
}

.pokemon-link {
  color: unset;
  font-size: 140%;
  text-decoration: none;
}

.pokemon-main-info {
  align-items: center;
  align-self: center;
  display: flex;
  flex-direction: column;
}

.pokemon-main-info a:hover {
  color: #ee4040;
}

.no-nickname {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  width: 400px;
}

.no-nickname h4 {
  text-align: center;
}

.submit-button {
  display: block;
  margin: .5rem;
}


.single-page {
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 50vh;
  margin: 0 auto;
  width: 80%;
}
