<mat-card class="pokemon" [ngClass]="isSinglePage ? 'single-page' : ''">
    <div class="pokemon-main-info">
      <a routerLink="/pokemon/{{ pokemon.species | lowercase }}" class="pokemon-link">{{ pokemon.species }} #{{ pokemon.id }}</a>
      <a routerLink="/pokemon/{{ pokemon.species | lowercase }}">
        <img *ngIf="pokemon.id" src="https://www.serebii.net/sunmoon/pokemon/{{ pokemon.id }}.png" />
      </a>
      <a routerLink="submit/{{ pokemon.species }}" class="submit-button">Submit A Nickname</a>
    </div>
    <div *ngIf="pokemon.nicknames" class="nicknames-container">
      <div *ngIf="pokemon.nicknames.length; else elseBlock" class="nicknames-container-inner">
        <app-nickname *ngFor="let nickname of pokemon.nicknames"
          [name]="nickname.name"
          [upvotes]="nickname.upvotes"
          [description]="nickname.description"
          [downvotes]="nickname.downvotes"
          [id]="pokemon.id"
          [tags]="nickname.tags"
        >
        </app-nickname>
      </div>
    </div>
    <ng-template #elseBlock>
      <div class="no-nickname">
        <h4>No Nicknames Yet</h4>
      </div>
    </ng-template>
</mat-card>
