.main-container {
  margin: .5rem;
  margin-top: 6rem;
}

.app-header {
  align-items: center;
  background: #eee;
  display: flex;
  justify-content: center;
  padding: .25rem;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 100;
}

.sticky {
  border-bottom: 1px solid #aaa;
  box-shadow: 0 5px .5rem rgba(0, 0, 0, 0.1);
}

.app-header img,
.app-header h1 {
  margin: 0 .25rem;
}

.app-header h1 {
  color: #ee4040;
}


button {
  background: rgba(0, 0, 0, 0.4);
  border: none;
  border-radius: .25rem;
  color: white;
  display: block;
  padding: .25rem;
}

.loading {
  align-items: center;
  border: 1px solid #ccc;
  border-radius: .25rem;
  display: flex;
  justify-content: center;
  margin: 2rem auto;
  padding: 1rem;
  width: 33%;
}

.pokemon-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.submit-button {
  background: #ee4040;
  color: white;
  cursor: pointer;
  border-radius: .25rem;
  margin-left: 2rem;
  padding: .5rem;
}
