@import '../variables';

.main-container {
  margin: .5rem;
  margin-top: 6rem;
  @media screen and (max-width: 640px) {
    margin-top: 3rem;
  }
}

.app-header {
  align-items: center;
  background: $main-color;
  color: white;
  display: flex;
  font-size: 90%;
  justify-content: space-around;
  height: 2rem;
  left: 0;
  padding: .25rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  @media screen and (max-width: 640px) {
    //flex-direction: column;
    justify-content: center;
    height: 2rem;
  }
}

.header-logo {
  align-items: center;
  display: flex;
}

.sticky {
  border-bottom: 1px solid #222;
  box-shadow: 0 5px .5rem rgba(0, 0, 0, 0.1);
}

.app-header img,
.app-header h1 {
  cursor: pointer;
  margin: 0 .25rem;
  @media screen and (max-width: 640px) {
    font-size: .9rem;
  }
}

.app-header h1 {
  color: white;
}

.submit-button {
  background: #222;
  @media screen and (max-width: 480px) {
    display: none;
  }
}

.submit-button:hover {
  background: lighten(#333, 8%);
}


button {
  background: rgba(0, 0, 0, 0.4);
  border: none;
  border-radius: .25rem;
  color: white;
  display: block;
  padding: .25rem;
}

@media screen and (max-width: 640px) {
  .app-header img {
    height: 1rem;
  }

  .app-header h1 {
    width: 100%;
  }
}
