button {
  background: rgba(0, 0, 0, 0.4);
  border: none;
  border-radius: .25rem;
  color: white;
  display: block;
  padding: .25rem;
}

.pokemon-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
