@require 'partials/*';

.favorites-wrapper
  h2
    margin: 1rem 0;
    padding: .25rem;
    text-align: center;
  .pokemon-nickname
    height: 5rem;
    overflow: hidden;
    width: 100%;
  .pokemon-data
    flex-direction: row;
  .pokemon-data-header
    flex: 1.5;
  .vote-data div
    display: inline-block;
    margin-left: .25rem;
  .more
    display: none;
  .nickname-data
    .nickname-data-header
      font-size: 1rem;
    p
      font-size: .9rem;
