@require 'partials/*';

.filter
  margin: 0 auto;
  max-width: 60rem;
  padding: 1rem;

.filter-input
  border: 1px solid grey;
  border-radius: 4px;
  font-size: 1.2rem;
  padding: .6rem;

.select-wrapper
  display: inline-block;
  margin-left: .5rem;
  span
    font-size: .7rem;

.select
  border-radius: 4px;
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 1rem;

.results-per-page-wrapper
  background: near-white;
  border-radius: 4px;
  cursor: pointer;
  height: 42px;
  padding: .5rem;
  text-align: center;
  width: 10rem;
  input
    border: 1px solid near-white;
    border-radius: 4px;
    height: 100%;
    padding: .75rem;
    text-align: center;
    width: 100%;

li:not([data-selected='true'])
  background: near-white;
  border-radius: 4px;
  cursor: pointer;
  display: none;
  padding: .75rem;
  text-align: center;
  &:hover
    background: darken(near-white, 10%);

li[data-selected='true']
  background: near-white;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  padding: .75rem;
  text-align: center;
  &:hover
    background: darken(near-white, 10%);
