@require 'partials/*'

html
  overflow: auto;

body
  background: #FFF;
  color: near-black;
  font-family: 'Open Sans', sans-serif;
  height: 100%;

main
  margin: 0 auto;
  max-width: 95rem;

a
  color: near-black;
  text-decoration: none;
  &:hover
    color: theme-color;

.app-header
  background: theme-color;
  border-bottom: 4px solid darken(theme-color, 10%);
  color: near-white;
  .app-header-inner
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: .5rem;
    h1, a
      font-weight: bold;
      display: inline-block;
    h1
      font-weight: normal;
    h1 a
      background: initial;
      border: initial;
      &:hover
        color: near-white;
    a
      background: near-white;
      border: 1px solid near-white;
      border-radius: 4px;
      color: near-black;
      margin-left: .5rem;
      padding: .5rem;
      &:hover
        color: theme-color;

.app-footer
  margin: 0 auto;
  max-width: 60rem;
  padding: 5rem;
  .app-loader
    border: 2px solid near-white;
    border-radius: 4px;
    box-shadow: 0 0 .5rem near-white;
    color: near-black;
    font-size: 1.5rem;
    margin: 0 auto;
    max-width: 20rem;
    padding: .75rem;
    position: relative;
    text-align: center;
    transition: 500ms all;
    &:hover
      background: near-white;
      cursor: pointer;
      transition: 500ms all;
