@require 'partials/*';

.notification
  background: near-black;
  border: 1px solid darken(near-black, 10%);
  box-shadow: 0 0 .5rem near-white;
  bottom: 10%;
  border-radius: 4px;
  color: near-white;
  left: calc(50% - 15rem);
  width: 30rem;
  padding: 1rem;
  position: fixed;
  text-align: center;
  z-index: 100;
