.nickname {
  border: 1px solid #eee;
  border-radius: .25rem;
  display: flex;
  height: 80px;
  margin-bottom: .25rem;
  padding: .25rem;
  width: 400px;
}

.nickname-info {
  padding-left: .5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

p {
  margin: 0;
}

a {
  color: #222;
  font-size: 120%;
  text-decoration: none;
}

.nickname-description {
  font-size: 90%;
}

.vote-container {
  align-items: center;
  border-right: 1px dashed #ccc;
  display: flex;
  flex-direction: column;
  font-size: 80%;
  justify-content: center;
}

.vote-container * {
  margin: .25rem;
}

.material-icons.vote-icon {
  color: #444;
  cursor: pointer;
}

.tags {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  margin-top: .25rem;
}

.tag {
  font-size: 80%;
  color: #555;
  margin-right: 0.25rem;
}

.tag:hover {
  color: lightskyblue;
}
