.nickname {
  background: rgba(black, 0.4);
  border: 1px solid rgba(black, 0.4);
  border-radius: .25rem;
  box-shadow: 0 0 .25rem rgba(black, 0.3);
  color: #fff;
  display: flex;
  height: 80px;
  margin-bottom: .25rem;
  padding: .25rem;
  width: 400px;
  @media screen and (max-width: 640px) {
    width: 280px;
    height: auto;
  }

}

.nickname-info {
  padding-left: .5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

// .nickname-name {
//   font-weight: bold;
// }

p {
  margin: 0;
}

a {
  color: #222;
  font-size: 120%;
  text-decoration: none;
}

.nickname-description {
  font-size: 90%;
  max-width: 24rem;
  word-wrap: break-word;
}

.vote-container {
  align-items: center;
  border-right: 1px dashed #ccc;
  display: flex;
  flex-direction: column;
  font-size: 80%;
  justify-content: center;
}

.vote-container * {
  margin: .25rem;
}

.material-icons.vote-icon {
  color: #444;
  cursor: pointer;
}

.tags {
  /* cursor: pointer; */
  display: flex;
  justify-content: space-between;
  margin-top: .25rem;
}

.tag {
  font-size: 80%;
  color: rgba(white, 0.7);
  margin-right: 0.25rem;
}
